$color-white: white;
$color-font-dark: #253b57;

$color-btn-add: #2cb756;
$color-btn-add-hover: #21843f;
$color-btn-cancel: #919492;
$color-btn-cancel-hover: #616161;
$color-btn-delete: #e82323;
$color-btn-delete-hover: #b32020;
$color-btn-assign: #5b94dc;
$color-btn-assign_hover: #366aac;
$color-btn-available: #c85bdc;
$color-btn-available_hover: #9942a9;

$color-sidebar-bg: #253b57;
$color-sidebar-bg-active: #31537f;
$color-sidebar-bg-hover: #426ea7;

$color-bg: #eff6ff;

$color-row-hover: #c6ddfd;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;